.name {
	font-family:"Halvetica";
	font-weight:bold;
	color:red;
	font-size:30;
}

#header {
	color:blue;
	float:left;
	background:red
}

#yonibike {
	float:left;
	border-redius:15px;
}

#container {
	position:relative;
	width:100%;
	height:50px;
	rotate:;
}
.rounded {
	border-radius:50px;
}

#headerContainer {
	margin:auto;
	height:10px;
	width:200px;
}
