.name {
	font-family:"Halvetica";
	font-weight:bold;
	color:blue;
    position:relative;
    width:100%
    height:70px;
    margin:auto;
}

#container {
	position:relative;
	width:100%;
	height:50px;
}

.rounded {
	border-radius:50px;
}

#headerContainer {
	margin:auto;
	height:500px;
	width:300px;
}
